debug/
.ipynb_checkpoints/
.vscode/
*.pyc
*.log
*.pt
per_neuron_*
data/mean_cache*
mlp_input_*
data/pythia*
data/old
figs
old/
logs/
__pycache__
mib_subgraph
slurm_scripts
data/counting/images
data/arithmetic/images
data/color_ordering/CLEVR
data/factual_recall/images
data/sentiment_analysis/images
figures/
*.zip
data/examples
vqa/
